<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCaRwBsWeKqjj_AXnXR1q2U5L7VvevJiyw</string>
	<key>GCM_SENDER_ID</key>
	<string>546303432184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.matrimonyApp</string>
	<key>PROJECT_ID</key>
	<string>dating-app-3878b</string>
	<key>STORAGE_BUCKET</key>
	<string>dating-app-3878b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546303432184:ios:c7275c83b4e00f3a56b20d</string>
</dict>
</plist>